<div class="element-card element-card-fixed-width">
    <button class="btn btn-lg pull-right dropdown-toggle highlightable"
            data-toggle="dropdown" style="background-color: initial;">
        <i class="fa fa-ellipsis-v"></i>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item action-delete" href="#">Delete</a>
    </div>
    <p>
        <% if (data.icon !== '') { %>
        <img src="/static/models/img/activity/<%- data.icon %>" class="img-fluid"
             style="max-width: 100px; position: relative; left: 50px;"/><br>
        <a class="activity-start text-dark" href="#" style="font-size: 1.5em; padding: 0 10px;">
            <% if (!data.is_running) { %><i class="fa fa-play"></i> <% } else { %><i class="fa fa-pause"></i><% } %>
        </a>
        <% } %>
        <%- data.name %>
    </p>
    <% if (data.is_running) { %>
    <h2 class="running-time align-content-center" style="margin-bottom:0; position: relative; left: 30px;"></h2>
    <% } %>
</div>