<div class="element-card element-card-list">
    <div class="progress-goal-circle"
         style="margin: 10px;width: 200px; height: 200px;"></div>
    <p class="lead"
       style="position: relative; top: -190px; right: 20px; text-align: center; width:250px;">
        <%- data.user.name %>
    </p>
    <img src="<%- data.user.gravatar_url %>" class="rounded-circle" alt="<%- data.user.email %> image"
         style="position: relative; top: -200px; left: 65px; height: 90px;"/>
    <p class="small"
       style="position: relative; top: -195px; right: 20px; text-align: center; width:250px;">
        <%- data.goal.goal_completeness.total_minutes %> minutes
    </p>
    <p class="lead"
       style="position: relative; top: -170px; right: 20px; text-align: center; width:250px;">
        <%- data.goal.name %> <%- data.goal.frequency %> times a <%- data.goal.period %>
    </p>
    <p class="small"
       style="position: relative; top: -175px; right: 20px; text-align: center; width:250px;">
        for at least <%- data.goal.active_minutes %> minutes
    </p>
</div>