{% extends "layout.html" %}

{% block style %}
    <style>
        body {
            background-image: url("{{ url_for('client.static', filename='img/space.jpg') }}");
            background-color: #cccccc;
        }
        .main-card {
            position: absolute;
            top: 100px;
            left: 100px;
            width: 40rem;
        }
    </style>
{% endblock %}

{% block content %}
    {% include "navigation.html" %}
    <div class="card main-card">
        <div class="card-body">
            <h1 class="card-title">Put a car in SPACE!</h1>
            <h4 class="card-subtitle mb-2 text-muted">Prodday is the one place for all your productivity needs!</h4>
            <p class="card-text">Organize your day, your week, your month or even your year with:
            <ul>
                <li>Tasks</li>
                <li>Events</li>
                <li>Projects</li>
                <li>Goals</li>
                <li>Trackers</li>
                <li>Activities</li>
            </ul>
            and many more.</p>
            <h4><a href="/register" class="btn btn-primary btn-lg">Sign up</a> to get an early access.</h4>
        </div>
    </div>
{% endblock %}

{% block script %}{% endblock %}