<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>{{ title or "App" }}</title>
    {% include "favicons.html" %}
    {% import "_macros.html" as macros %}
    {{ macros.include_css('layout') }}
    {% if user_settings.background_img_url %}
        <style>
            body {
                background-image: url("{{ url_for('client.static', filename='{{ user_settings.background_img_url }}') }}");
            }
        </style>
    {% endif %}
    {% block style %}{% endblock %}
</head>
<body>
{% include "modal.html" %}
{% include "navigation.html" %}
<div id="flashed-messages-container" style="position:relative; top: 64px; z-index: 999;">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{% if category == 'message' %}danger{% else %}{{ category }}{% endif %}
            alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
<div class="container-fluid" style="position: relative; top: 65px;">
    <div class="row">
        <div class="col-2 d-none d-xs-none d-sm-none d-md-block" style="padding:0; top: 5px">
            <ul class="side-nav nav flex-column nav-pills">
                {% for uv in user_views %}
                    {% if uv.on_main %}
                        <li class="nav-item">
                            <a href="/views/{{ uv.id }}"
                               class="nav-link side-nav-link {% if user_view and user_view.name ==  uv.name %}active{% endif %}">
                                <span style="display: inline-block; width: 40px"><i
                                        class="fa fa-{{ uv.icon }} fa-lg"></i></span>
                                {{ uv.name|capitalize }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
                <hr>
                {% for group_goal in group_goals %}
                    <p><a class="nav-link side-nav-link" href="/group_goals/{{ group_goal.id }}">
                        <i class="fa fa-users fa-lg"></i>
                        <span style="padding-left:20px;">{{ group_goal.name }}
                        </span>
                    </a></p>
                {% endfor %}
            </ul>
        </div>
        <div class="main-content col-xs-12 col-sm-12 col-md-10">
            {% block content %}{% endblock %}
        </div>
    </div>
    {% if crudy_templates %}
        {% for fe_template in crudy_templates %}
            <script type="text/x-template" id='fe-template-core-{{ fe_template.split('.')[0] }}'>
                {% include '/crudy/templates/' + fe_template %}
            </script>
        {% endfor %}
    {% endif %}
    {% if user.notifications_enabled %}
        <script type="text/x-template" id='fe-template-notification-container'>
            {% include 'notifications/container.html' %}
        </script>
        {% for fe_template in notification_templates %}
            <script type="text/x-template" id='fe-template-notification-text-title-{{ fe_template }}'>
                {% include 'notifications/' + fe_template + '/title.html' %}
            </script>
            <script type="text/x-template" id='fe-template-notification-text-body-{{ fe_template }}'>
                {% include 'notifications/' + fe_template + '/body.html' %}
            </script>
        {% endfor %}
    {% endif %}
    {% for fe_template in edit_templates %}
        <script type="text/x-template" id='fe-template-edit-{{ fe_template.split('.')[0] }}'>
            {% include fe_template %}
        </script>
    {% endfor %}

    <script>
      var USER_TIMEZONE = "{{ (user.tz_offset_seconds/3600)|float_to_tz }}";
      var DEBUG = {% if config.DEBUG %}true{% else %}false{% endif %}
      {% if models %}
        var MODELS = {
          {% for model in models.itervalues() %}
            "{{ model.name }}":
              {
                name: "{{ model.name }}",
                nameHuman: "{{ model.human_name }}",
                namePlural: "{{ model.name_plural }}",
                defaults: {},
                constants: {{ model.model_constants|tojson }},
                elements: {{ model.elements|tojson }},
                modelMethods: function (ctx) {
                  return {}
                },
                collectionMethods: function (ctx) {
                  return {}
                }
              },
          {% endfor %}
        };
      {% endif %}
    </script>
    {{ macros.include_js('layout') }}
    <script>
      $('.side-nav-toggle').on('click', function () {
        $('.side-nav').animate({
          width: "toggle"
        }, function () {
          if ($('.side-nav').is(':visible')) {
            console.log('visible');
            $('.main-content ').removeClass('col-md-12').addClass('col-md-10');
          } else {
            console.log('invisible');
            $('.main-content ').removeClass('col-md-10').addClass('col-md-12');
          }
        });
      });
    </script>
    <script src="{{ url_for('api.static', filename="models.js") }}"></script>
    {% if user.notifications_enabled %}
        <script src="{{ url_for('api.static', filename="notifications.js") }}"></script>
    {% endif %}
    {% block script %}{% endblock %}
    <script src="{{ url_for('api.static', filename="views.js") }}"></script>
</body>
</html>
