{% if user_settings and user_settings.contexts_enabled %}
    <nav class="navbar navbar-expand-lg navbar-{{ context.fg_color or "dark" }} fixed-top"
         style="background-color: {{ context.color or "#333" }}; color: white; box-shadow: 0 1px 5px grey;">
{% else %}
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top"
         style="background-color: #333; color: white; box-shadow: 0 1px 5px grey;">
{% endif %}
<a class="navbar-brand side-nav-toggle" href="#">
    <i class="fa fa-bars"></i>
</a>
<a class="navbar-brand" href="/">Prodday</a>
<div class="navbar-expand">
    {%- if current_user.is_authenticated and user_settings.search_enabled %}
        <form class="form-inline" action="{{ url_for('client.get_search_results') }}">
            <div class="nav-search-wrapper">
                <i class="fa fa-search fa-lg" style="z-index:1"></i>
                <input class="form-control nav-search" type="search" placeholder="Search"
                        {% if user_settings.contexts_enabled %}
                       style="background-color: {{ context.color or "#333" }};"
                        {% else %}
                       style="background-color: #333;"
                        {% endif %}
                       aria-label="Search"
                       name="q" value="{{ q }}">
            </div>
        </form>
    {% endif %}
</div>
<div class="navbar-expand ml-auto" id="navbarSupportedContent">
    <ul class="navbar-nav">
        {%- if current_user.is_authenticated %}
            {% if user_settings.search_enabled %}
                <li class="nav-item dropdown" id="navbar-search">
                    <a class="nav-link d-xs-block d-sm-none" href="#" id="navbar-search-link" role="button"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-search fa-lg"></i>
                    </a>
                </li>
            {% endif %}
            {% if user_settings.contexts_enabled and contexts %}
                <li class="nav-item dropdown" id="navbar-dropdown-context">
                    <a class="nav-link dropdown-toggle" href="#" id="navbar-dropdown-context-link" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-at fa-lg"></i>
                        <span class="badge" style="background-color: {{ context.color }};">{{ context.name }}</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right context-container"
                         aria-labelledby="navbarDropdownContextt" style="width:200px;">
                        {% for context in contexts %}
                            <a class="dropdown-item" href="#">
                                <span class="badge" style="background-color: {{ context.color }}; color: white;"><i
                                        class="fa fa-at fa-lg"></i> {{ context.name }}</span>
                            </a>
                        {% endfor %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            No context
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            Auto-Context:
                            <label class="switch pull-right">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </a>
                    </div>
                </li>
            {% endif %}
            {% if user_settings.notifications_enabled %}
                <li class="nav-item dropdown" id="navbar-dropdown-bell">
                    <a class="nav-link dropdown-toggle" href="#" id="navbar-dropdown-bell-link" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-bell fa-lg"></i>
                        <span class="badge badge-danger notifications-count" style="display: none;">0</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right notifications-container"
                         aria-labelledby="navbarDropdownBell" style="width:400px;">
                        <a class="dropdown-item" href="#">No notifications</a>
                    </div>
                </li>
            {% endif %}
            <li class="nav-item dropdown" id="navbar-dropdown-profile">
                <a class="nav-link dropdown-toggle" href="#" id="navbar-dropdown-profile-link" role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <img src="{{ user.email|gravatar }}" class="rounded-circle"
                         style="height: 32px;"/> {{ user.name }}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                    <a class="dropdown-item" href="/logout">Log Out</a>
                </div>
            </li>
        {% else %}
            <a href="/login" class="btn btn-primary">Login</a>
            <a href="/register" class="btn btn-success">Register</a>
        {% endif %}
    </ul>
</div>
</nav>