{% extends "layout_main.html" %}

{% block style %}
{% endblock %}

{% block content %}

    <div id="root" class="container">
        <div class="row">
            <div class="col-8">
                <h2>
                    {% if instance_id %}
                        Edit
                    {% else %}
                        New
                    {% endif %}
                    {{ models[view.collection_name].name_human|capitalize }}
                </h2>
            </div>
            <div class="col-4">
                <button class="btn btn-lg secondary-action"></button>
                <button type="submit" class="btn btn-lg btn-primary submit">Save</button>
            </div>
        </div>
        <hr>
    </div>
    {% for api_name, fe_template in view.templates %}
        <script type="text/x-template" id='fe-template-{{ fe_template.split('.')[0] }}'>
            {% include fe_template %}
        </script>
    {% endfor %}
{% endblock %}

{% block script %}
    <script>
      {% if instance_id %}
        var INSTANCE_ID = parseInt("{{ instance_id }}");
      {% endif %}
      var FE_TEMPLATE = "#fe-template-{{ view.model_name }}";
      var COLLECTION_NAME = "{{ view.collection_name }}";
    </script>
    {% if instance_id %}
        <script src="{{ url_for('client.static', filename='js/edit.js') }}"></script>
    {% else %}
        <script src="{{ url_for('client.static', filename='js/new.js') }}"></script>
    {% endif %}
{% endblock %}