{% extends "layout_main.html" %}

{% block style %}
{% endblock %}

{% block content %}
    {% if not entries %}
        <p>No results for <strong>{{ q }}</strong></p>
    {% endif %}
    {% for entry in entries %}
        <blockquote>
            <h4>{{ loop.index }}. InboxEntry | {{ entry.created_ts|format_dt("%A, %d %B") }} | {{ entry.created_ts|format_dt("%H:%M") }}
            </h4>
            <p>{{ entry.body|hl_search(q, 3)|safe }}</p>
        </blockquote>
    {% endfor %}
{% endblock %}

{% block script %}
{% endblock %}
