{% extends "layout_main.html" %}

{% block style %}
    {% for app_name, component, style in view.styles %}
        <link rel="stylesheet"
              href="{{ url_for('apps.static', filename=app_name + '/' + component + '/styles/' + style) }}">
    {% endfor %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-3 col-lg-2">
                <ul class="nav flex-column" id="myTab" role="tablist">
                    {% for setting in settings %}
                        <li class="nav-item">
                            <a class="nav-link {% if loop.first %}active{% endif %}"
                               id="{{ setting.view.name }}-tab" data-toggle="tab"
                               href="#setting-tab-{{ loop.index }}" role="tab"
                               aria-controls="home" aria-selected="true">{{ setting.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <script>
              var COMPONENTS = [];
            </script>
            <div class="col-9 col-lg-10">
                <div class="tab-content" id="myTabContent">
                    {% for setting in settings %}
                        <div class="tab-pane fade {% if loop.first %}show active{% endif %}"
                             id="setting-tab-{{ loop.index }}" role="tabpanel"
                             aria-labelledby="{{ setting.view.name }}-tab">
                            {% set outer_loop_index = loop.index %}
                            <div class="row">
                                {% for component in setting.view.components %}
                                    {{ component }}
                                    <div id="component_{{ outer_loop_index }}_{{ loop.index }}"
                                         class="col-md-{{ component.columns }}"></div>
                                    <script>
                                      COMPONENTS.push({
                                        name: "{{ component.component.name }}",
                                        element: "component_{{ outer_loop_index }}_{{ loop.index }}",
                                        options: {{ component.options|tojson }}
                                      });
                                    </script>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>


            </div>
        </div>
    </div>

    {% for app, component, fe_template in view.templates %}
        <script type="text/x-template" id='fe-template-{{ component }}-{{ fe_template.split('.')[0] }}'>
            {% include app + '/' + component + '/templates/' + fe_template %}
        </script>
    {% endfor %}
{% endblock %}

{% block script %}
    {% for app_name, component, script in view.external_scripts %}
        <script src="{{ script }}"></script>
    {% endfor %}
    <script src="{{ url_for('api.static', filename="models.js") }}"></script>
    <script>
      _.each(COLLECTIONS, function (value, key) {
        ApplicationRegistry.register(key, {
          'collection': value
        });
      })
    </script>

    {% for app_name, component, script in view.scripts %}
        <script src="{{ url_for('apps.static', filename=app_name + '/' + component + '/scripts/' + script) }}"></script>
    {% endfor %}
{% endblock %}
