{% extends "layout_main.html" %}

{% block style %}
    {% for app_name, component, style in view.styles %}
        <link rel="stylesheet"
              href="{{ url_for('apps.static', filename=app_name + '/' + component + '/styles/' + style) }}">
    {% endfor %}
{% endblock %}

{% block content %}
    <script>
      var COMPONENT_REGISTRY = {};
      var COMPONENTS = [];
    </script>
    <div class="row" style="margin: 1em;">
        {% for component in view.components %}
            <div class="col-md-{{ component.columns }}" style="padding: 5px;">
                <div id="component_{{ loop.index }}" class="page"></div>
            </div>
            <script>
              COMPONENTS.push({
                name: "{{ component.component.name }}",
                element: "component_{{ loop.index }}",
                collectionName: "{{ component.component.collection }}",
                type: "{{ component.component.type }}",
                options: {{ component.options|tojson }}
              });
            </script>
        {% endfor %}
    </div>
    {% for app, component, fe_template in view.templates %}
        <script type="text/x-template" id="fe-template-{{ component }}-{{ fe_template.split('.')[0] }}">
            {% include app + '/' + component + '/templates/' + fe_template %}
        </script>
    {% endfor %}
    {% if group_goal %}
        <script>
          var GROUP_GOAL_ID = "{{ group_goal.id }}";
        </script>
    {% endif %}
{% endblock %}

{% block script %}
    {% for app_name, component, script in view.external_scripts %}
        <script src="{{ script }}"></script>
    {% endfor %}
    {% for app_name, component, script in view.scripts %}
        <script src="{{ url_for('apps.static', filename=app_name + '/' + component + '/scripts/' + script) }}"></script>
    {% endfor %}
{% endblock %}
