<div class="element-card element-card-list">
    <button class="btn btn-lg pull-right dropdown-toggle highlightable"
            data-toggle="dropdown" style="background-color: initial;">
        <i class="fa fa-ellipsis-v"></i>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item action-delete" href="#">Delete</a>
    </div>
    <div class="content-area">
        <span class="datetime-date"><%- moment(data.start_ts).format("DD MMMM YYYY") %></span><br>
        <span class="datetime-time"><%- moment(data.start_ts).format("HH:MM") %></span> -
        <span class="datetime-time"><% if (data.end_ts) { %><%- moment(data.end_ts).format("HH:MM") %><% } else { %>...<% } %></span>
        <strong><% if (data.activity !== undefined && data.activity !== null) { %><%- data.activity.name %><% } %></strong>
    </div>
</div>