<div class="element-card element-card-list" style="height: initial;">
    <div class="order" data-order="<%- data.order %>">
        <p><i class="fa fa-<%- data.app.icon %>"></i> <%- data.app.name %></p>
        <p class="lead"><i class="fa fa-bars drag-drop-handle"></i> <%- data.name %></p>
    </div>
</div>
