<h3>View Settings</h3>
<div>
    <div class="row">
        <div class="col-md-4">
            <h4>User Views</h4>
        </div>
        <div class="col-md-4">
            <h4>User Components</h4>
        </div>
        <div class="col-md-4">
            <h4>Components</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#worldwide-modal"
                    data-model-name="user_view" data-model-action="create">
                New View
            </button>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 user-views">
        </div>
        <div class="col-md-4 view-components">
        </div>
        <div class="col-md-4 components">
        </div>
    </div>
</div>
