<div class="element-card element-card-list" style="height: initial;">
    <button class="btn btn-lg pull-right dropdown-toggle highlightable"
            data-toggle="dropdown" style="background-color: initial;">
        <i class="fa fa-ellipsis-v"></i>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item action-edit" href="#"
           data-model-name="user_view" data-model-id="<%- data.id %>">
            Edit
        </a>
        <a class="dropdown-item action-delete" href="#">Delete</a>
    </div>
    <div class="order" data-order="<%- data.order %>"
         data-model-name="user_view" data-model-id="<%- data.id %>">
        <p class="lead"><i class="fa fa-bars drag-drop-handle"></i>
            <i class="fa fa-<%- data.icon %> fa-lg"></i> <%- data.name %></p>
    </div>
</div>
