<div class="element-card element-card-fixed-width">
    <% if (data.user_app.enabled) { %>
    <span class="badge badge-success pull-right">Enabled</span>
    <% } else { %>
    <span class="badge badge-secondary pull-right">Disabled</span>
    <% } %>
    <h3>
        <i class="fa fa-<%- data.icon %> fa-2x"></i>
        <%- data.name %>
    </h3>
    <p><%- data.description %></p>
    <h5>Components:</h5>
    <ul>
        <% _.each(data.components, function(component) { %>
        <li><%- component.name %></li>
        <% }) %>
    </ul>
</div>