<div class="create-wrapper">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class="row col-md-12">
        <textarea name="body" placeholder="Enter anything..." rows="1" class="create-textarea"></textarea>
    </div>
    <div class="create-aditional" style="display:none;">
        <br>
        <a href="#" class="btn btn default" data-toggle="tooltip" data-placement="bottom" title="Create a task">
            <i class="fa fa-check-square fa-lg"></i>
        </a>
        <a href="#" class="btn btn default" data-toggle="tooltip" data-placement="bottom" title="Create an event">
            <i class="fa fa-calendar fa-lg"></i>
        </a>
        <a href="#" class="btn btn default" data-toggle="tooltip" data-placement="bottom" title="Create a reminder">
            <i class="fa fa-bell fa-lg"></i>
        </a>
        <a href="#" class="btn btn default" data-toggle="tooltip" data-placement="bottom" title="Create a note">
            <i class="fa fa-sticky-note fa-lg"></i>
        </a>
        <a href="#" class="btn btn default" data-toggle="tooltip" data-placement="bottom" title="Add to checklist">
            <i class="fa fa-list fa-lg"></i>
        </a>
        <a href="#" class="btn btn default" data-toggle="tooltip" data-placement="bottom" title="Add a journal entry">
            <i class="fa fa-book fa-lg"></i>
        </a>
        <a href="#" class="btn btn default" data-toggle="tooltip" data-placement="bottom" title="Start activity">
            <i class="fa fa-child fa-lg"></i>
        </a>
        <a href="#" class="btn btn-default pull-right action-create">Done</a>
    </div>
    <div class="clearfix"></div>
</div>