<div class="element-card element-card-list">
    <button class="btn btn-lg pull-right dropdown-toggle highlightable"
            data-toggle="dropdown" style="background-color: initial;">
        <i class="fa fa-ellipsis-v"></i>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item action-delete" href="#">Delete</a>
    </div>
    <blockquote class="blockquote content-area">
        <cite class="datetime-date"><%- data.created_ts %></cite>
        <p><%- data.body %></p>

        <p class="small">
            <% if (data.task_id) { %>
            <a href="/tasks/<%- data.task_id %>/edit" class="text-secondary">view task</a>
            <% } %>
            <% if (data.calendar_event_id) { %>
            <a href="/calendar_events/<%- data.calendar_event_id %>/edit" class="text-secondary">view event</a>
            <% } %>
            <% if (data.activity_session_id) { %>
            <a href="/activities/<%- data.activity_session_id %>/edit" class="text-secondary">view activity session</a>
            |
            <% } %>
        </p>
    </blockquote>
</div>

