<div class="element-card element-card-list">
    <button class="btn btn-lg pull-right dropdown-toggle highlightable"
            data-toggle="dropdown" style="background-color: initial;">
        <i class="fa fa-ellipsis-v"></i>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item action-delete" href="#">Delete</a>
    </div>
    <div class="content-area">
        <span class="datetime-date"><%- data.start_ts %></span><br>
        <span class="datetime-time"><%- data.start_ts %></span> - <span class="datetime-time"><%- data.end_ts %></span>
        <strong><%- data.title %></strong>
    </div>
</div>