/* BEAUTIFUL STYLE */
textarea:focus, input:focus {
    outline: none;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none;
}

.dropdown-toggle::after {
    display: none
}

.create-wrapper {
    background-color: white;
    padding: 5px;
    border-radius: 1px;
    box-shadow: 0 1px 5px grey;
    max-width: 600px;
    margin: auto
}

.create-title {
    border: 0;
    font-weight: bold;
}

.create-textarea {
    border: 0;
    outline: none;
    padding: 10px;
}

.action-create {
    font-weight: bold;
    text-transform: uppercase;
}

.element-card {
    background-color: white;
    padding: 10px;
    border-radius: 1px;
    box-shadow: 0 1px 5px grey;
    margin: 10px;
    cursor: default;
    /* height: 100%; */
}

.element-card-list {
    margin: 0;
}

.element-card-fixed-width {
    width: 300px;
}

.nav-search-wrapper .fa-search {
    color: #aaa;
    position: relative;
    left: 32px;
}

.nav-search:focus {
    background-color: white !important;
    filter: brightness(100%);
    color: #222;
}

.nav-search {
    border-radius: 1px;
    width: 500px !important;
    filter: brightness(75%);
    color: white;
    border: none;
    padding-left: 50px;
}

@media (max-width: 820px) {
    .nav-search {
        width: 250px !important;
    }
}

@media (max-width: 575px) {
    .nav-search-wrapper {
        display: none !important;
    }
}

.side-nav-link.active {
    color: #555 !important;
    border-radius: 0 !important;
    background-color: #eee !important;
}

.side-nav-link:link, .side-nav-link:visited {
    color: #555;
}

/** SWITCH CODE */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-bottom: 0;
}

/* Hide default HTML checkbox */
.switch input {
    display: none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 20px;
}

.slider.round:before {
    border-radius: 50%;
}

/** END SWITCH CODE */

/* END OF BEAUTIFUL STYLE */

body {
    color: #444;
    background-color: #eee;
}

.side-nav {
    background: rgba(255, 255, 255, 0.7);
    height: calc(100vh - 80px);
    position: sticky;
    top: 68px;
}

.page {
    /* border: solid #888 1px; */
    /* background-color: #fff; */
    padding: 0.2em;
}

textarea {
    width: 100%;
    font-family: Tahoma, sans-serif;
    resize: none;
    float: left;
    padding: 4px;
    box-sizing: border-box;
}

.entry {
    display: inline-block;
}

.muted {
    color: #aaa;
}

p.entry {
    padding-left: 45px;
    text-indent: -45px;
}

/**
* Start by hiding the checkboxes
*/
.task-checkbox {
    visibility: hidden;
}

.checkbox {
    width: 60px;
    position: relative;
    left: -10px;
}

.checkbox-p {
    position: relative;
    left: 30px;
}

/**
 * Create the box for the checkbox
 */
.checkbox label {
    cursor: pointer;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 8px;
    background: #eee;
    border: 1px solid #ddd;
}

/**
 * Display the tick inside the checkbox
 */
.checkbox label:after {
    opacity: 0.1;
    content: '';
    position: absolute;
    width: 13px;
    height: 8px;
    background: transparent;
    top: 6px;
    left: 5px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;

    transform: rotate(-45deg);
}

/**
 * Create the hover event of the tick
 */
.checkbox label:hover::after {
    opacity: 0.5;
}

/**
 * Create the checkbox state for the tick
 */
.checkbox input[type=checkbox]:checked + label:after {
    opacity: 1;
}

.checkbox-label {
    margin: 0 0 10px 30px;
}

.stroken {
    text-decoration: line-through;
}

.list-element {
    padding: 0.8em;
}

.drag-drop-handle {
    opacity: 0.1;
}

.margin-bottom-none {
    margin-bottom: 0;
}

.form-control-inline {
    display: inline-block;
    width: initial;
    padding: 5px;
    border-radius: 2px;
}

.input-full-width * .form-control {
    display: block;
    width: 100%;
}

.form-control.lead {
    font-size: 1.4em;
}

.d-value {
    width: 120px;
}

input[type=number], .t-value {
    width: 80px;
}

.highlightable {
    opacity: 0;
    color: black;
}

.blockquote {
    border-left: 5px solid #eee;
    padding-left: 12px;
}