<div class="create-wrapper">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class="row col-md-12">
        <textarea name="title" placeholder="Create a task..." rows="1" class="create-textarea"></textarea>
    </div>
    <div class="create-aditional" style="display:none;">
        <br>
        <a href="#" class="btn btn-default pull-right action-create">Done</a>
    </div>
    <div class="clearfix"></div>
</div>