<div class="element-card element-card-fixed-width">
    <div class="content-area" data-model-name="note" data-model-id="<%- data.id %>">
        <% if (data.title !== '') { %>
        <h5 class="card-title"><%- data.title %></h5>
        <% } %>
        <% if (data.body) { %>
        <%= markdown.toHTML(data.body) %>
        <% } else { %>
        <%- data.body %>
        <% } %>
    </div>
    <button class="btn btn-lg pull-right dropdown-toggle highlightable"
            data-toggle="dropdown" style="background-color: initial;">
        <i class="fa fa-ellipsis-v"></i>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item action-delete" href="#">Delete</a>
    </div>
</div>