<div class="row">
    <div class="col-3">
        <div class="form-group input-full-width">
            <div class="editable-icon"><%= data.icon %></div>
        </div>
    </div>
    <div class="col-7">
        <div class="form-group input-full-width">
            <div class="editable-name"><%= data.name %></div>
        </div>
    </div>
</div>