<div class="row">
    <div class="col-12">
        <div class="form-group input-full-width">
            <div class="editable-activity_id"><%= data.activity_id %></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="editable-start_ts form-control-inline"
             data-bind="activity_session_<%- data.id %>"
             data-bind-type="start_ts form-control-inline"><%= data.start_ts %>
        </div>
    </div>
    <div class="col-6">
        <div class="editable-end_ts form-control-inline"
             data-bind="activity_session_<%- data.id %>"
             data-bind-type="end_ts form-control-inline"><%= data.end_ts %>
        </div>
    </div>
</div>


