<div class="row">
    <div class="col-10">
        <div class="form-group input-full-width">
            <div class="editable-title"><%= data.title %></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-5 col-lg-4 col-xl-3">
        <div class="editable-start_ts"
             data-bind="calendar_event_<%- data.id %>"
             data-bind-type="start_ts"><%= data.start_ts %>
        </div>
    </div>
    <div class="col-5 col-lg-4 col-xl-3">
        <div class="editable-end_ts"
             data-bind="calendar_event_<%- data.id %>"
             data-bind-type="end_ts"><%= data.end_ts %>
        </div>
    </div>
</div>

<hr>
<div class="row">
    <div class="col-10">
        <div class="form-group input-full-width">
            <div class="editable-body"><%= data.body %></div>
        </div>
    </div>
</div>

