<div class="row">
    <div class="col-12">
        <div class="form-group input-full-width">
            <div class="editable-name"><%= data.name %></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="form-group input-full-width">
            <div class="editable-activity_id"><%= data.activity_id %></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="form-group">
            <span class="editable-frequency form-control-inline"><%= data.frequency %></span>
            <span>times per</span>
            <span class="editable-period form-control-inline"><%= data.period %></span>
        </div>
    </div>
    <div class="col-6">
        <span>Active for at</span>
        <span class="editable-limit form-control-inline"><%= data.limit %></span>
        <span class="editable-active_minutes form-control-inline"><%= data.active_minutes %></span> minutes
    </div>
</div>