<div class="row">
    <div class="col-12">
        <div class="form-group input-full-width">
            <div class="editable-title"><%= data.title %></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="form-group input-full-width">
            <div class="editable-body"><%= data.body %></div>
        </div>
    </div>
</div>