<div class="row">
    <div class="col-10">
        <div class="form-group input-full-width">
            <div class="editable-title"><%= data.title %></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <div class="editable-start_ts"><%= data.start_ts %></div>
    </div>
    <div class="col-4">
        <div class="editable-due_ts"><%= data.due_ts %></div>
    </div>
</div>
<div class="row">
    <div class="col-10">
        <div class="editable-status"><%= data.status %></div>
    </div>
</div>

<hr>
<div class="row">
    <div class="col-10">
        <div class="form-group input-full-width">
            <div class="editable-body"><%= data.body %></div>
        </div>
    </div>
</div>


