<div class="row">
    <div class="col-12">
        <div class="form-group input-full-width">
            <div class="editable-name"><%= data.name %></div>
        </div>
    </div>
    <div class="col-12">
        <div class="form-group input-full-width">
            <div class="editable-component_category"><%= data.component_category %></div>
        </div>
    </div>
</div>