<div class="row">
    <div class="col-12">
        <div class="form-group input-full-width">
            <div class="editable-component_id"><%= data.component_id %></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="form-group input-full-width">
            <div class="editable-order"><%= data.order %></div>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group input-full-width">
            <div class="editable-columns"><%= data.columns %></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="form-group input-full-width">
            <div class="editable-options"><%= data.options %></div>
        </div>
    </div>
</div>