<div class="row">
    <div class="col-12">
        <div class="form-group input-full-width">
            <div class="editable-name"><%= data.name %></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="form-group input-full-width">
            <div class="editable-icon"><%= data.icon %></div>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group input-full-width">
            <div class="editable-order"><%= data.order %></div>
        </div>
    </div>
</div>