<div class="element-card element-card-list">
    <button class="btn btn-lg pull-right dropdown-toggle highlightable"
            data-toggle="dropdown" style="background-color: initial;">
        <i class="fa fa-ellipsis-v"></i>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item action-delete" href="#">Delete</a>
    </div>
    <div class="checkbox">
        <input name="status" type="checkbox" id="tasks-checkbox-<%- data.id %>" value="<%- data.id %>"
               class="form-check-input task-checkbox"
        <% if (data.status === MODELS.task.constants.STATUS_DONE) { %>
        checked="checked"
        <% } %> />
        <label for="tasks-checkbox-<%- data.id %>"></label>
    </div>
    <p class="checkbox-p entry content-area" data-model-name="task" data-model-id="<%- data.id %>"><%- data.title %></p>
</div>