<div class="element-card element-card-fixed-width">
    <div class="progress-goal-circle"
         style="margin: 10px;width: 200px; height: 200px;"></div>
    <p class="lead"
       style="position: relative; top: -150px; right: 15px; text-align: center; width:250px;">
        <% if (data.activity !== null && data.activity !== undefined && data.activity.icon !== '') { %>
        <img src="/static/models/img/activity/<%- data.activity.icon %>" class="img-fluid"
             style="max-width: 100px;"/><br>
        <%- data.activity.name %>
        <% } %>

    </p>
    <p class="lead"
       style="position: relative; top: -120px; right: 20px; text-align: center; width:250px;">
        <%- data.name %> <%- data.frequency %> times a <%- data.period %>
    </p>
    <p class="small"
       style="position: relative; top: -130px; right: 20px; text-align: center; width:250px;">
        for at <%- data.limit %> <%- data.active_minutes %> minutes
    </p>
    <button class="btn btn-lg pull-right dropdown-toggle highlightable"
            data-toggle="dropdown" style="background-color: initial;">
        <i class="fa fa-ellipsis-v"></i>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item action-edit" data-model-id="<%- data.id %>" data-model-name="goal" href="#">Edit</a>
        <a class="dropdown-item action-delete" href="#">Delete</a>
    </div>
</div>