<div class="element-card">
    <div id="calendar-wrapper">
        <h4 id="calendar-title"></h4>
        <div class="center">
            <a href="#" data-calendar-nav="prev"><< Prev</a>
            <a href="#" data-calendar-nav="today">Today</a>
            <a href="#" data-calendar-nav="next">Next >></a>
        </div>
        <div id="calendar-container"></div>
    </div>
</div>