{% extends "layout.html" %}
{% import "_macros.html" as macros %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4 col-md-offset-4">
              {% if current_user.temp_password %}
                  <div class="alert alert-warning">
                      {{ gettext('You are using a temporarily generated password. Please change below') }}
                  </div>
              {% endif %}
                <div class="well">
                    <h2>{{ gettext('Change password') }}</h2>

                    <form action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form">
                      {{ change_password_form.hidden_tag() }}
                      {% if current_user.temp_password %}
                          <strong>{{ gettext('Temporary password') }}</strong><br>
                          <p>{{ current_user.temp_password }}</p>
                          <input type="hidden" class="form-control" value="{{ current_user.temp_password }}"
                                 name="password" id="password"/>
                      {% else %}
                        {{ macros.form_field(change_password_form, change_password_form.password, class="form-control") }}
                      {% endif %}<br>
                      {{ macros.form_field(change_password_form, change_password_form.new_password, class="form-control") }}<br>
                      {{ macros.form_field(change_password_form, change_password_form.new_password_confirm, class="form-control") }}
                        <br>
                      {{ change_password_form.submit(class="btn btn-primary form-control") }}<br>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}