{% import "_macros.html" as macros %}
<form method="post" action="/reset">
    <input type="hidden" name="next" value="{{ request.args.next }}"/>
  {{ forgot_password_form.csrf_token() }}
  {{ macros.form_field(forgot_password_form, forgot_password_form.email, class="form-control") }}<br>
    <br>
  {{ forgot_password_form.submit(class="btn-primary form-control") }}<br>
</form>