{% import "_macros.html" as macros %}
<form class="action" method="post" action="/login" id="login-form">
    {{ login_form.hidden_tag() }}
    {{ macros.form_field(login_form, login_form.email, width=12) }}
    {{ macros.form_field(login_form, login_form.password, width=12) }}
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="remember-me-check" name="remember">
        <label class="form-check-label" for="remember-me-check">Remember me</label>
    </div>
    <div class="row" style="margin-top: 30px;">
        <input id="login-form-submit" class="btn btn-primary btn-block" name="submit" type="submit" value="Login">
    </div>
</form>
