<a class="dropdown-item" href="<%- data.url %>">
    <i class="fa fa-times pull-right"></i>
    <i class="fa fa-dot-circle-o pull-right"></i>

    <strong><%- data.title %></strong><br>
    <span class="small"><%- data.body %></span>
</a>